<form action="/kleur" id="design">
    <p  tabindex="0">Opties voor de <%= bovenkant %></p>
    <label  tabindex="0">
        print
        <input type="radio" name="print" value="print"/>
    </label>

    <label tabindex="0">
        plane
        <input type="radio" name="print" value="plane" />
    </label>

    <p  tabindex="0">Opties voor de <%= onderkant %></p>
    <label tabindex="0">
        spijker
        <input type="radio" name="fabric" value="spijker"/>
    </label>

    <label tabindex="0">
        stof
        <input type="radio" name="fabric" value="stof"/>
    </label>

    <p>keep up the good work</p>
    <div>
        <a href="">Terug</a>
        <button type="submit">Klaar</button>
    </div>
</form>