<form action="/recap" id="design">
    <p  tabindex="0"><%= keuze %> </p>
    <p  tabindex="0">You go girl. nu gaan we over naar de kleur</p>

    <p tabindex="0">Kleur voor de <%= bovenkant %></p>
    <label tabindex="0">
        blauw
        <input type="radio" name="kleur" value="print" />
    </label>

    <label tabindex="0">
        zwart
        <input type="radio" name="kleur" value="plane" />
    </label>

    </p>
    <label tabindex="0">
        wit
        <input type="radio" name="kleur" value="wit" />
    </label>

    <label tabindex="0">
        rood
        <input type="radio" name="kleur" value="rood" />
    </label>   
    
    <label tabindex="0">
        beige
        <input type="radio" name="kleur" value="beige" />
    </label>    
    
    <label tabindex="0">
        grijs
        <input type="radio" name="kleur" value="grijs" />
    </label>

    <div>
        <a href="">Terug</a>
        <button type="submit">Klaar</button>
    </div>
</form>