<form action="/design" data-type-kleding>
    <label>
        Jurk
        <input type="radio" name="top" value="jurk" />
    </label>

    <label>
        broek/legging
        <input type="radio" name="bottom" value="broek"  />
    </label>

    <label>
        rok
        <input type="radio" name="bottom" value="rok" />
    </label>

    <label>
        trui
        <input type="radio" name="top" value="trui" />
    </label>

    <label>
        shirt
        <input type="radio" name="top" value="shirt" />
    </label>

    <input type="submit" value="klaar" />
</form>