<form action="/design" data-type-kleding>
    <label>
        Jurk
        <input type="checkbox" name="top" value="jurk" <% if (values.top == 'jurk' ) { %> checked <% }%>/>
    </label>

    <label>
        broek
        <input type="checkbox" name="bottom" value="broek" <% if (values.bottom == 'broek' ) { %> checked <% }%> />
    </label>

    <label>
        rok
        <input type="checkbox" name="bottom" value="rok" <% if (values.bottom == 'rok' ) { %> checked <% }%>/>
    </label>

    <label>
        trui
        <input type="checkbox" name="top" value="trui" <% if (values.top == 'trui' ) { %> checked <% }%>/>
    </label>

    <label>
        shirt
        <input type="checkbox" name="top" value="shirt" <% if (values.top == 'shirt' ) { %> checked <% }%>/>
    </label>

    <input type="submit" value="klaar" />
</form>