<form action="/type" data-outfit-categorie>
	<p>Kies de gelegenheid voor je kleding</p>
	<label tabindex="0">
		Casual
		<input type="radio" name="style" value="casual"/>
	</label>

	<label tabindex="0">
		Zakelijk
		<input type="radio" name="style" value="zakelijk"/>
	</label>

	<label tabindex="0">
		Feest
		<input type="radio" name="style" value="feest"/>
	</label>

	<label tabindex="0">
		Ontspanning
		<input type="radio" name="style" value="ontspanning" />
	</label>

	<label tabindex="0">
		Uit gaan
		<input type="radio" name="style" value="uitgaan"/>
	</label>

	<input type="submit" value="submit" />
</form>