main {
	height: 100vh;
}

section {
	height: inherit;
}

form {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: inherit;
}

form label {
	display: block;
	background: red;
	text-align: center;
	height: 100%;
	width: 100%;
	border: 1px solid black;
}

label:has(input:checked) {
	background-color: teal;
}

#design p {
	position: absolute;
}