main {
	height: 100vh;
}

section {
	height: inherit;
}

form {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: inherit;
}

form label {
	display: block;
	background: red;
	text-align: center;
	height: 100%;
	width: 100%;
	border: 1px solid black;
}

label:focus-within {
	background-color: green;
}

label:has(input:checked) {
	background-color: teal;
}

label:has(input:focus-within) {
	background-color: green;
}

form p {
	position: absolute;
}

form p:first-of-type {
	top: 10px;
}
form p:last-of-type {
	top: 40px;
}


form p:nth-of-type(2) {
	top: 60px;
}