<%- include('../partials/head'); %>
<body>
	<main>
		<article>
			<h1>Hi, daar Welkom</h1>

			<p>
				We willen de opleiding CMD elk jaar weer beter, leuker en
				professioneler maken. Dat kunnen we natuurlijk niet zonder jou. Dat
				er noise-canceling headphones, keyboards, kadobonnen en laptops
				worden verloot onder de deelnemers is mooi meegenomen. Maar voor ons
				is jouw mening het allerbelangrijkst!
			</p>

			<a href="/style" class="btn" id="start">Start</a>
		</article>
	</main>
</body>
