<%- include('../partials/head'); %>
<body>
	<main>
		<article>
			<h1>Heey Petra, ready om er weer goed uit te zien?</h1>

			<p>
				De applictaie die ik heb gemaakt is een simple app, waarbij de focus is gelegd op het navigeren. Elke scherm heeft een x aantal
				antwoorden waaruit je uit kan kiezen. Om de keuze te bevestigen moet rechts onder op het scherm te klikken en dan gaat
				ze door naar de volgende pagina. Eerst kies je de gelegenheid, dan de kleding stukken, dan het design, dan de kleur en dan krijg je een recap van
				je keuzes. Als je niet tevreden bent met je keuze kan je terug gaan naar de vorige pagina. Als je wel tevreden bent kan je op de knop klikken
			</p>

			<a href="/style" class="btn" id="start">Start</a>
		</article>
	</main>
</body>
